#randomQ {
    font-family: 'Nothing You Could Do', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    width: 90%;
    padding: 5%;
    margin: 5%; 
}

#hover {
    margin-right: 2%;
    margin-top: 1%;
}

#hover:hover { 
    cursor: pointer; 
}

#tweetQuote {
    margin-top: 1%;
}

footer {
    font-family: 'Nothing You Could Do', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5%;
    margin: 5%; 
}