#randomQ {
    font-family: 'Nothing You Could Do', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: xx-large;
    width: 70%;
    padding: 5%;
    margin: 10%;
      
    
}

#newQuote {
    margin-right: 2%;
    margin-top: 1%;
}

#newQuote:hover {
    cursor: pointer;
}

#tweetQuote {
    margin-top: 1%;
}

#tweetQuote:hover {
    cursor: pointer;
}

footer {
    font-family: 'Nothing You Could Do', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 5%;
    margin: 5%;

}